@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc::after {content: '\00a0';}

:root{
  --color-light-pink: rgba(255, 200, 221, 0.3);
  --color-sky-blue: rgba(189, 224, 254, 0.3);
  --color-light-purple: rgba(205, 180, 219, 0.3);
  
}

/* common */
body {font-family: 'SeoulHangang', 'Apple SD Gothic Neo', '맑은 고딕', Malgun Gothic, '돋움', Dotum, Helvetica, AppleGothic, sans-serif; font-size: 14px; color: #333333; background: #ffffff;}

/* header */
#header {position: fixed; left: 0; top: 0; width: 100%; height: 110px; z-index: 10000; background-color: #fff;}
#header div.top {position: relative; width: 90%; margin: 1% auto;}
#header div.top.show #gnb {height: 100%;}
#header h1 {font-size: 64px; font-weight: 800; letter-spacing: 0.4em}
#header h1 a {display: block;}

.mobile-menu {position: absolute; top: 0; right: 0; z-index: 1;}
.mobile-menu > a {display: inline-block; font-size: 50px;}

#gnb {position: fixed; width: 100%; height: 0; top: 110px; right: 0; z-index: 5000; background-color: rgba(255, 255, 255, 0.9); transition: height 0.8s; overflow: hidden;}
#gnb ul {overflow: hidden;}
#gnb ul > li {position: relative; box-sizing: border-box; margin-bottom: 2em;}
#gnb ul > li a {position: relative; display: block;}
#gnb ul > li span {display: block; text-align: center;}
#gnb ul > li span.en {font-size: 18px;}
#gnb ul > li span.kr {font-size: 24px;}
#gnb ul > li span.kr::before {content: ''; position: absolute; left: 40%; bottom: 0; width: 0; height: 50%; background: rgba(205, 180, 219, 0.3);}
/* #gnb ul > li a:hover span.kr::before {width: 20%; transition: all 0.4s ease-out;} */

/* footer */
#footer {position: relative; height: 60px;}
#footer div.content-box {position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0); margin: 20px auto;}
#footer p {text-align: center; font-size: 14px; font-weight: 700;}

/* main */
#main {position: relative; min-height: calc(100vh - 260px); margin-top: 110px;}
#main-visual {position: relative;}
#main-visual div.bg {position: relative; height: calc(100vh - 170px); background: url(../img/bg.jpg) center center no-repeat; background-size: cover;}
#main-visual div.text {position: absolute; top: 32%; left: 2%;}
#main-visual div.text p {position: relative; display: inline-block; margin-top: 0.8em; font-size: 24px; background: #fff;}



/* sub */
#about-profile {position: relative;}
#about-profile h2 {font-size: 30px; text-align: center; padding: 6% 0 4% 0;}
#about-profile .content-box {position: relative; width: calc(100% - 40px); height: 70%; overflow: hidden; margin: 0 auto;}
#about-profile div.photo {width: 100%; height: 100%;}
#about-profile div.circle {width: 250px; height: 250px; border-radius: 50%; background-color: #666666; margin: 0 auto;}
#about-profile div.profile {position: relative; width: 100%; height: 100%; text-align: center; margin-top: 10%;}
#about-profile div.profile div.box {position: relative; display: inline-block; top: 10%;}
#about-profile div.profile p {text-align: center;}
#about-profile div.profile p.name {font-size: 18px; font-weight: 800; letter-spacing: 0.5em; padding-bottom: 8%;}
#about-profile div.profile p.text {position: relative; padding-top: 8%; color: #666666;}
#about-profile div.profile p.text::before {content: ''; position: absolute; top: 0; left: -10%; width: 120%; height: 1px; border-bottom: 1px solid #000;}

#about-profile h2,
#about-profile div.photo,
#about-profile div.profile {opacity: 0; transform: translateY(30%); transition: all 0.8s;}
#about-profile h2.on,
#about-profile div.photo.on,
#about-profile div.profile.on {transform: translateY(0); opacity: 1;}






body.works h2 {position: fixed; width: 90%; background-color: #fff; margin-left: 10%; z-index: 100;}
body.works h2::after {content: ''; position: absolute; top: 50%; right: 20%; width: 60%; height: 1px; border-top: 1px solid #000000;}
#works {position: relative; top: 0; width: calc(100% - 30px); overflow: hidden; padding-top: 30px; margin: 0 auto;}
#works > section.page {position: relative; top: 0; height: calc(100vh - 200px); overflow: hidden;}
#works > section > div.photo-box {width: 100%; overflow: hidden; text-align: center;}
#works > section > div.photo-box > p.photo {display: inline-block; height: 100%; box-sizing: border-box;}
/* #works > section > div.photo-box img {height: 100%; margin: 0 auto;} */
#works > section > div.content {}
#works > section > div.content > div.box {position: relative; display: inline-block; width: 100%;}
#works .right > div.photo-box {height: 40%; margin-bottom: 20px;}
#works .left > div.photo-box {height: 60%; margin-bottom: 5px;}
#works .right > div.content {height: 60%; margin-bottom: 5px;}
#works .left > div.content {height: 40%; margin-bottom: 20px;}
#works div.photo-box,
#works div.content {transform: translateY(30%); opacity: 0; transition: all 1.2s;}
#works .on > div.photo-box,
#works .on > div.content {transform: translateY(0); opacity: 1;}
#works div.content ul.tags {overflow: hidden; margin-bottom: 5px;}
#works div.content ul.tags li {float: left;}
#works div.content ul.tags li + li {margin-left: 0.5em;}
#works div.content ul.tags li span {font-size: 16px; font-weight: 600; color: #666666;}
#works div.content p {text-align: left;}
#works div.content p.title {font-size: 24px; font-weight: 800; margin-bottom: 0.5em;}
#works div.content p.text {font-size: 14px; color: #666666;}
#works div.content ul.btn-group {position: absolute; top: 0; right: 0;}


#skill {width: calc(100% - 20px); margin: 0 auto;}
#skill h2 {position: fixed; top: 110px; width: 80%; text-align: right; background-color: #fff; padding: 20px 0; z-index: 100;}
#skill h2::after {content: ''; position: absolute; top: 50%; left: 20%; width: 70%; height: 1px; border-top: 1px solid #000000;}
#skill .content-box {position: relative; width: calc(100% - 200px); padding: 110px 0 30px 0; margin: 0 auto;}

#skill h2,
#skill .content-box {opacity: 0; transform: translateY(30%); transition: all 0.8s;}
#skill h2.on,
#skill .content-box.on {transform: translateY(0); opacity: 1;}


#contact-email {position: relative;}
#contact-email h2 {text-align: left;}
#contact-email > div.content-box {position: relative; display: inline-block; width: 90%; top: 50%; left: 50%; transform: translate(-50%, 50%);}
#contact-email p.email {position: relative; font-size: 30px; border-bottom: 1px solid #000000; padding: 1em; margin-top: 5%; text-align: center;}
#contact-email p.email::before {content: ''; position: absolute; right: 0; top: 50%; width: 70%; height: 50%; background: rgba(255, 200, 221, 0.3); transform: translate(0, -50%); z-index: -1;}
#contact-email p.text {font-size: 18px; font-weight: 300; color: #666666; text-align: left; padding-top: 2em;}

#contact-email h2,
#contact-email p.email,
#contact-email p.text {opacity: 0; transform: translateY(30%); transition: all 0.8s;}
#contact-email h2.on,
#contact-email p.email.on,
#contact-email p.text.on {transform: translateY(0); opacity: 1;}






/* aside */
#aside ul.tab {position: fixed; width: 150px; right: 20px; top: 50%; transform: translate(0, -50%);}
#aside ul.tab > li + li {margin-top: 3px;}
#aside ul.tab > li > a {display: block; position: relative; line-height: 32px; font-size: 14px; color: transparent; background-color: transparent; border-radius: 100px; padding: 0 20px; transition: background-color 0.3s;}
#aside ul.tab > li > a span {position: absolute; right: 0; top: 0; width: 32px; height: 32px; border-radius: 100px; color: #fff; background-color: #BE9FD1; text-align: center; font-weight: 600;}
#aside ul.tab > li.on > a span {background-color: #AC83C3;}



/* module */
ul.btn-group {min-width: 120px; overflow: hidden;}
ul.btn-group > li {height: 50px; float: left; box-sizing: border-box; border: 1px solid #000000;}
ul.btn-group.type-2 > li {width: calc(50% - 5px);}
ul.btn-group.type-2  li + li {margin-left: 10px}
ul.btn-group li > a {position: relative; display: block; height: 50px; cursor: pointer;}
ul.btn-group li span {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 14px; font-weight: 300; background: rgba(255, 200, 221, 0.3);}


/* 콘텐츠 레이아웃 박스 */
section.container {position: relative;}
section.container::after {content: ''; display: block; clear: both;}
section.container + section.container {margin-top: 20px;}
section.container > section {float: left; position: relative; min-height: 100px; padding: 10px 15px 20px 15px; box-sizing: border-box; border: 1px solid #999; border-radius: 4px; background-color: #ffffff;}
section.container > section.card {padding: 0;}
section.container > section + section {margin-left: 20px;}
section.container.type-1 > section {width: 100%;}
section.container.type-2 > section {width: calc(50% - 10px);}
section.container.type-3 > section {width: calc(33.33% - 13.33px);}
section.container.type-4 > section {width: calc(25% - 15px);}
section.container.type-1-2 > section:nth-child(1) {width: calc(33.33% - 13.33px);}
section.container.type-1-2 > section:nth-child(2) {width: calc(66.66% - 6.66px);}
section.container.type-2-1 > section:nth-child(1) {width: calc(66.66% - 6.66px);}
section.container.type-2-1 > section:nth-child(2) {width: calc(33.33% - 13.33px);}
section.container.type-1-3 > section:nth-child(1) {width: calc(25% - 15px);}
section.container.type-1-3 > section:nth-child(2) {width: calc(75% - 5px);}
section.container.type-3-1 > section:nth-child(1) {width: calc(75% - 5px);}
section.container.type-3-1 > section:nth-child(2) {width: calc(25% - 15px);}
section.container.type-1-1-2 > section {width: calc(25% - 15px);}
section.container.type-1-1-2 > section:nth-child(3) {width: calc(50% - 10px);}
section.container.type-2-1-1 > section {width: calc(25% - 15px);}
section.container.type-2-1-1 > section:nth-child(1) {width: calc(50% - 10px);}
section.container > section h3 {font-size: 19px; font-weight: 400; margin-bottom: 1em;}



/* ul.skills {overflow: hidden;}
ul.skills > li {float: left; box-sizing: border-box; padding: 0.5em 0.8em; margin-bottom: 0.5em;}
ul.skills li + li {margin-left: 0.5em;}
ul.skills li span {font-size: 14px; font-weight: 300;} */

ul.skills {overflow: hidden; margin-top: 20px;}
ul.skills > li {float: left; box-sizing: border-box; padding: 0.5em 0.8em; margin-bottom: 0.5em; background-color: rgba(189, 224, 254, 0.3);}
ul.skills.light-pink > li {background-color: var(--color-light-pink);}
ul.skills.sky-blue > li {background-color: var(--color-sky-blue);}
ul.skills.light-purple > li {background-color: var(--color-light-purple);}
ul.skills li + li {margin-left: 0.5em;}
 ul.skills li span {font-size: 14px; font-weight: 300;}

/* animation keyframes */
/*
@keyframes show-up {
  0% {transform: translate(0, 50px); opacity: 0;}
  100% {transform: translate(0, 0); opacity: 1;}
}
@keyframes btn-effect-right {
  0% {transform: translate(0, 0);}
  100% {transform: translate(5px, 0);}
}
#main-faq a.more:hover i {animation: btn-effect-right 0.3s ease 0s infinite alternate forwards;}
*/
